<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Librario.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7B9F77CF2C69A21E000A3CEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B9F77E12C69A21F000A3CEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B9F77EB2C69A21F000A3CEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
